* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
._flex-container {
  display: flex;
  justify-content: space-between;
}
.header {
  margin-top: 24px;
}
.header__logo {
  width: 248px;
  height: 45px;
}
.header-menu {
  width: 423px;
  list-style-type: none;
  margin-top: 20px;
}
.header-menu__text {
  text-decoration: none;
  color: #595959;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 700;
  line-height: 18.45px;
  text-transform: uppercase;
}
.header-call {
  margin-top: 10px;
  width: 123px;
}
.header-call__number {
  color: #ff0000;
  font-family: "Arial - Bold Italic MT";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.45px;
  text-transform: uppercase;
  /* Text style for "+7(8452) 9" */
  letter-spacing: 0.35px;
  text-decoration: none;
}
.header-email {
  color: #666666;
  font-family: "Arial - Bold Italic MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 18.45px;
  text-decoration: underline;
  /* Text style for "i, nfo@za-" */
  letter-spacing: 0.31px;
  margin-top: 20px;
}
.header-banner {
  width: 100%;
}
#swiper-banner {
  height: 100%;
  margin-top: 28px;
}
#swiper-slide__banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.seo-text {
  color: #333333;
  font-family: "Arial Narrow";
  font-size: 12px;
  font-style: italic;
  line-height: 33.66px;
  text-align: right;
  /* Text style for "Маркетинго" */
  letter-spacing: 0.31px;
  margin-top: 47px;
}
.content {
  margin-top: 44px;
}
.content__title {
  color: #000000;
  font-family: "Myriad Pro - Bold Cond";
  font-size: 28px;
  font-weight: 400;
  line-height: 30.72px;
  text-transform: uppercase;
  /* Text style for "все, что н" */
  letter-spacing: 0.76px;
}
.content-list {
  margin-top: 44px;
}
.content-list__text1 {
  width: 246px;
  color: #000000;
  font-family: "Myriad Pro - Bold Cond";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "С, амое ва" */
  letter-spacing: 0.4px;
  line-height: 31.89px;
}
.content-list__text2 {
  width: 158px;
  color: #333333;
  font-family: "Myriad Pro - Bold Cond";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.content-list__text2._margin:not(:first-child) {
  margin-top: 16px;
}
.content-list__text3 {
  width: 317px;
  color: #080808;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  /* Text style for "П, редлага" */
  letter-spacing: 0.35px;
}
.services:not(:first-child) {
  margin-top: 20px;
}
.services__text {
  color: #333333;
  font-family: "Myriad Pro - Bold Cond";
  font-size: 21px;
  font-weight: 400;
  line-height: 27.64px;
  text-decoration: underline;
  text-transform: uppercase;
  /* Text style for "разработка" */
  letter-spacing: 0.64px;
}
.services #swiper-logo {
  width: 100%;
  margin-top: 40px;
  padding: 0 0 30px 0;
}
.services #swiper-logo__container {
  display: flex;
  align-items: flex-end;
}
.services #swiper-slide__logo {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.services #slider-slide__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services .swiper-pagination {
  position: absolute;
  top: 138px;
}
.services__logo {
  width: 740px;
}
.services__logo-img {
  width: 238px;
}
.services__container {
  margin-top: 84px;
}
._text {
  text-decoration: none;
}
.agency {
  margin-top: 63px;
}
.agency__content {
  margin-top: 43px;
}
.agency__content-banner {
  width: 728px;
  height: 337px;
}
.agency__content_text {
  width: 238px;
  font-family: "Arial Narrow";
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 23.19px;
}
.agency__content_text:not(:first-child) {
  margin-top: 29px;
}
.agency__content_text-wrapper {
  display: flex;
  flex-direction: column;
}
.agency__content_text-uppercase {
  color: #080808;
  font-family: "Arial Narrow - Bold";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.35px;
  line-height: 23.19px;
}
.agency__info {
  margin-top: 27px;
}
.agency__info_container {
  width: 237px;
  height: 237px;
  background: url("images/fon.png");
  padding: 28px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agency__info_container-text {
  color: #ffffff;
  font-family: "Myriad Pro - Bold Cond";
  font-size: 18px;
  font-weight: 400;
  line-height: 27.09px;
  text-transform: uppercase;
  text-align: center;
  /* Text style for "агентство" */
  letter-spacing: 0.56px;
}
.agency__info-address {
  margin-top: 27px;
  width: 154px;
  display: flex;
  align-items: center;
}
.agency__info-tel__img {
  width: 19px;
  height: 19px;
}
.agency__info-addres__img {
  width: 19px;
  height: 26px;
}
.agency__info-item-text {
  color: #ffffff;
  font-family: "Arial - Italic MT";
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18.39px;
  /* Text style for "г.Саратов," */
  letter-spacing: 0.3px;
  margin-left: 21px;
}
.agency__info-email {
  margin-top: 27px;
  width: 159px;
  display: flex;
  align-items: center;
}
.agency__info-item__email {
  color: #ffffff;
  font-family: "Arial - Italic MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 18.39px;
  text-decoration: underline;
  letter-spacing: 0.3px;
  margin-left: 18px;
}
.agency__info-sait {
  margin-top: 27px;
  width: 154px;
  display: flex;
  align-items: center;
}
.agency__info-item__site {
  color: #ffffff;
  font-family: "Arial - Italic MT";
  font-size: 12px;
  font-weight: 400;
  line-height: 18.39px;
  text-decoration: underline;
  letter-spacing: 0.3px;
  margin-left: 18px;
  text-decoration: none;
}
.agency__info-sait-img {
  width: 20px;
  height: 20px;
}
.agency__info-phone-img {
  width: 27px;
  height: 25px;
}
.agency__info-social-network {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 27px;
}
.agency__info-social-network__img {
  width: 20px;
  height: 20px;
}
.agency__info_img {
  width: 173px;
  height: 220px;
}
#brick-img {
  width: 140px;
  height: 122px;
}
#kriz-img {
  width: 136px;
  height: 65px;
}
#pc-img {
  width: 163px;
  height: 35px;
}
#vet-img {
  width: 161px;
  height: 46px;
}
#int-img {
  width: 158px;
  height: 40px;
}
#sarbk-img {
  width: 161px;
  height: 60px;
}
#trans-img {
  width: 161px;
  height: 100px;
}
#jaso-img {
  width: 161px;
  height: 120px;
}
#okno-img {
  width: 161px;
  height: 80px;
}
#podshipnik-img {
  width: 161px;
  height: 130px;
}
#dental-img {
  width: 161px;
  height: 46px;
}
#briik-img {
  width: 161px;
  height: 46px;
}
#agava-img {
  width: 161px;
  height: 46px;
}
#profi-img {
  width: 136px;
  height: 70px;
}
#sari-img {
  width: 136px;
  height: 130px;
}
#geodor-img {
  width: 161px;
  height: 46px;
}
#spec-img {
  width: 136px;
  height: 65px;
}
#sun-img {
  width: 100px;
  height: 135px;
}
#memory-img {
  width: 136px;
  height: 45px;
}
#tisn-img {
  width: 136px;
  height: 65px;
}
#byket-img {
  width: 161px;
  height: 46px;
}
.footer {
  margin-top: 122px;
  background: #d1d1d1;
  width: 100%;
  height: 197px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}
.footer-info__title {
  color: #000000;
  font-family: "Arial Narrow - Bold";
  font-size: 15px;
  font-weight: 700;
  line-height: 21.26px;
  text-transform: uppercase;
  /* Text style for "в, сегда н" */
  letter-spacing: 0.31px;
}
.footer-info__number {
  color: #000000;
  font-family: "Arial Narrow";
  font-size: 18px;
  font-weight: 700;
  line-height: 18.45px;
  /* Text style for "(8452)  91" */
  letter-spacing: 0.45px;
  text-decoration: none;
  margin-top: 18px;
}
.footer-info__email {
  color: #000000;
  font-family: "Arial Narrow";
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 18.45px;
  text-decoration: underline;
  /* Text style for "i, nfo@za-" */
  letter-spacing: 0.4px;
  margin-top: 13px;
}
.footer-info__text {
  color: #0a0909;
  font-family: "Arial Narrow - Bold";
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  line-height: 18.45px;
  /* Text style for "З, аходи!" */
  letter-spacing: 0.4px;
  margin-top: 26px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.footer-menu__link {
  list-style-type: none;
}
.footer-menu__link:not(:first-child) {
  margin-top: 8px;
}
.footer-menu__text {
  color: #000000;
  font-family: "Arial Narrow - Bold";
  font-size: 12px;
  font-weight: 700;
  line-height: 18.45px;
  text-transform: uppercase;
  /* Text style for "что сделан" */
  letter-spacing: 0.26px;
  text-decoration: none;
}
.footer-social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
}
.footer-social-network__img1 {
  width: 26px;
  height: 16px;
}
.footer-social-network__img2 {
  width: 18px;
  height: 33px;
  margin-top: 25px;
}
.footer-social-network__img3 {
  width: 27px;
  height: 27px;
  margin-top: 20px;
}
.footer-copyright {
  margin-top: 60px;
}
.footer-copyright__text {
  color: #0c0c0c;
  font-family: "Calibri";
  font-size: 12px;
  font-weight: 400;
  line-height: 20.23px;
  letter-spacing: 0.28px;
}
@font-face {
  font-family: "Arial - Bold Italic MT";
  src: url("fonts/Arial-BoldItalicMT.otf");
}
@font-face {
  font-family: "Myriad Pro - Bold Cond";
  src: url("fonts/Myriad Pro - Bold Cond.otf");
}
@font-face {
  font-family: "Arial Narrow";
  src: url("fonts/Arial Narrow.TTF");
}
@font-face {
  font-family: "Arial Narrow - Bold";
  src: url("fonts/Arial Narrow - Bold.ttf");
}
